* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  background-color: #241d27;
  width: 100%;
  overflow: hidden;
}
/*Start Loading Screen*/
#loading {
  position: fixed;
  background-color: black;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 9999;
}
#loading img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*End Loading Screen*/

/*Start Header*/
#header {
  width: 100%;
  height: 48vw;
  position: relative;
}
#header #header-background {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 1px 1px 10px 1px #d9adad;
}
#nav {
  position: fixed;
  z-index: 999;
  display: block;
  background-color: #00001111;
  width: 100%;
}
ul {
  list-style-type: none;
  margin-right: 100px;
  padding-right: 10px;
  overflow: hidden;
  font-size: 20px;
}

li {
  float: right;
  cursor: pointer;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

#header #myphoto {
  position: absolute;
  height: 30%;
  width: 15%;
  border-radius: 50%;
  transform: translate(60%, 50%);
  left: 15%;
  opacity: 0.7;
  box-shadow: inset 0 -3em 3em rgba(223, 208, 208, 0.1),
    0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(206, 174, 174, 0.3);
}
#header #abstract {
  position: absolute;
  color: #fff;
  fill: none;
  transform: translate(0, 100%);
  top: 50%;
  left: 5%;
  font-size: 3.5rem;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
  text-shadow: 0 0 5px #000000, 0 0 10px #000000, 0 0 15px #000000,
    0 0 20px #d9adad, 0 0 30px #d9adad, 0 0 40px #d9adad, 0 0 55px #d9adad,
    0 0 75px #d9adad;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}
#header #abstract .txt-type {
  border-right: 0.3rem solid #584153;
}
/*End Header*/

/*Start Main*/

/*Start Skills*/
#skills {
  position: relative;
  margin: 20px;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
  text-shadow: 0 0 5px #000000, 0 0 10px #000000, 0 0 15px #000000,
    0 0 10px #d9adad, 0 0 30px #d9adad, 0 0 10px #d9adad, 0 0 10px #d9adad,
    0 0 10px #d9adad;
  width: 80%;
  height: 65vw;
  left: 8%;
  padding: 10px;
  overflow: auto;
  background-color: #241d27;
  color: #fff;
  border: none;
}

#skills h1 {
  text-align: center;
  font-size: 50px;
}
#skills h2 {
  text-decoration: underline;
}

.languages {
  margin: 20px;
  display: inline-block;
  position: relative;
  font-weight: 200px;
  font-size: 20px;
}
.languages .language {
  float: left;
  display: inline;
  margin: 20px;
  transform: translate(0, 60%);
}
.languages .value {
  border: 0.1rem solid #d9adad;
  border-radius: 20%;
  padding: 10px;
  margin: 20px;
  float: right;
  display: inline;
}
.Intermediate {
  background-color: #93b5e1;
  opacity: 0.7;
}
.Advanced {
  background-color: #c4fb6d;
  opacity: 0.7;
}
.Beginner {
  background-color: #fff48f;
  opacity: 0.7;
}
/*End Skills*/

/*Start Projects*/
#projects {
  position: relative;
  margin: 20px;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
  text-shadow: 0 0 5px #000000, 0 0 10px #000000, 0 0 15px #000000,
    0 0 20px #d9adad, 0 0 30px #d9adad, 0 0 40px #d9adad, 0 0 55px #d9adad,
    0 0 75px #d9adad;
  width: 80%;
  height: 40vw;
  text-align: center;
  left: 8%;
}
#projects h1 {
  text-align: center;
  color: #fff;
}
/*End Projects*/
/*End Main*/

/*responsive*/
@media screen and (max-width: 1500px) {
  #header #abstract {
    font-size: 3.5rem;
  }
  #skills {
    height: 65vw;
  }
  .headlines {
    font-size: 30px;
  }
}

@media screen and (min-width: 700px) and (max-width: 1400px) {
  #header #abstract {
    font-size: 2rem;
  }
  #skills {
    height: 85vw;
  }
  .headlines {
    font-size: 30px;
  }
}
@media screen and (min-width: 300px) and (max-width: 700px) {
  #header #abstract {
    font-size: 1rem;
  }
  #nav {
    display: none;
  }
  #skills {
    height: 110vw;
    font-size: 8px;
    left: 0%;
  }
  .languages .language {
    margin: 2px;
    transform: translate(0, 35%);
  }
  .languages .value {
    margin: 2px;
    padding: 3px;
  }
  .headlines {
    font-size: 20px;
  }
}
@media screen and (min-width: 50px) and (max-width: 300px) {
  #header #abstract {
    font-size: 0.5rem;
  }
  #nav {
    display: none;
  }
  #skills {
    height: 130vw;
    font-size: 8px;
    left: 0%;
  }

  .languages .language {
    margin: 2px;
    transform: translate(0, 35%);
  }
  .languages .value {
    padding: 3px;
    margin: 2px;
  }
  .headlines {
    font-size: 20px;
  }
}
