* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  background-image: linear-gradient(#114357, #462d2d);
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}
/*Start Loading Screen*/
#loading {
  position: fixed;
  background-color: black;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 9999;
}
#loading img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*End Loading Screen*/

/*Start Header*/
#header {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
}
#header #header-background {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 1px 1px 10px 1px #d9adad;
}
#nav {
  position: fixed;
  z-index: 999;
  display: block;
  background-color: #00001111;
  width: 100%;
}
ul {
  list-style-type: none;
  margin-right: 100px;
  padding-right: 10px;
  overflow: hidden;
  font-size: 20px;
}

li {
  float: right;
  cursor: pointer;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

#header #myphoto {
  position: absolute;
  height: 30%;
  width: 15%;
  border-radius: 50%;
  transform: translate(60%, 50%);
  left: 15%;
  opacity: 0.7;
  box-shadow: inset 0 -3em 3em rgba(223, 208, 208, 0.1),
    0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(206, 174, 174, 0.3);
}
#header #abstract {
  position: absolute;
  color: #fff;
  fill: none;
  transform: translate(0, 100%);
  top: 50%;
  left: 5%;
  font-size: 3.5rem;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
  text-shadow: 0 0 5px #000000, 0 0 10px #000000, 0 0 15px #000000,
    0 0 20px #d9adad, 0 0 30px #d9adad, 0 0 40px #d9adad, 0 0 55px #d9adad,
    0 0 75px #d9adad;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}
#header #abstract .txt-type {
  border-right: 0.3rem solid #584153;
}
/*End Header*/

/*Start Main*/
main {
  position: absolute;
  left: 17%;
  top: 100%;
  width: 60%;
  height: 100%;
}
/*Start Skills*/
#skills {
  position: absolute;
  width: 100%;
  margin: 20px;
  text-shadow: 0 0 5px #000000, 0 0 10px #000000, 0 0 15px #000000,
    0 0 10px #d9adad, 0 0 30px #d9adad, 0 0 10px #d9adad, 0 0 10px #d9adad,
    0 0 10px #d9adad;
  color: #fff;
}
#programming-languages,
#web-development,
#others,
#intro {
  position: relative;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
  width: 100%;
  margin: 10px;
  margin-bottom: 20px;
  padding: 10px;
  border: none;
}
#intro {
  height: 25vw;
  background-image: url("../img/a2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#programming-languages {
  height: 25vw;
  background-attachment: fixed;
  background-image: linear-gradient(#5d4157, #a8caba);
}
#web-development {
  height: 45vw;
  background-attachment: fixed;
  background-image: linear-gradient(#5d4157, #a8caba);
}
#others {
  height: 30vw;
  background-attachment: fixed;
  background-image: linear-gradient(#5d4157, #a8caba);
}
#skills h1 {
  text-align: center;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 44%;
}
#skills h2 {
  text-decoration: underline;
}

.languages {
  margin: 20px;
  display: block;
  position: relative;
  font-weight: 200px;
  font-size: 20px;
  width: 100%;
  height: 50px;
}
.languages .language {
  position: absolute;
  display: inline-block;
  margin: 5px;
  left: 5px;
}
.languages .value {
  position: absolute;
  border: 0.1rem solid #d9adad;
  border-radius: 20%;
  padding: 10px;
  margin: 5px;
  margin-right: 40px;
  right: 5px;
  display: inline-block;
}
.Intermediate {
  background-color: #93b5e1;
  opacity: 0.7;
}
.Advanced {
  background-color: #c4fb6d;
  opacity: 0.7;
}
.Beginner {
  background-color: #fff48f;
  opacity: 0.7;
}
/*End Skills*/

/*Start Projects*/
#projects {
  position: relative;
  width: 90%;
  top: 190vw;
  text-shadow: 0 0 5px #000000, 0 0 10px #000000, 0 0 15px #000000,
    0 0 10px #d9adad, 0 0 30px #d9adad, 0 0 10px #d9adad, 0 0 10px #d9adad,
    0 0 10px #d9adad;
  color: #fff;
}
#introprojects {
  position: relative;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
  width: 67%;
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  height: 25vw;
  background-image: url("../img/a2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  left: 21%;
}
#projects h1 {
  text-align: center;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 40%;
}
.card {
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 400px;
  margin: 10px;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  font-family: arial;
  background-attachment: fixed;
  float: left;
  left: 10%;
  transform: translate(50%);
  height: 600px;
}
.card img {
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
}
.role {
  color: grey;
  font-size: 22px;
}

.card a {
  position: absolute;
  bottom: 10px;
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  right: 145px;
  margin-top: 5px;
}
.card .title {
  font-size: 30px;
}
.card p {
  display: block;
  margin: 10px;
}

.card a:hover {
  opacity: 0.7;
}
/*End Projects*/
/*End Main*/

/*responsive*/
@media screen and (min-width: 1500px) and (max-width: 2200px) {
  #projects {
    top: 190vw;
  }
}
@media screen and (max-width: 1500px) {
  #header #abstract {
    font-size: 3.5rem;
  }
  main {
    width: 60%;
  }
  .headlines {
    font-size: 30px;
  }
  #programming-languages,
  #intro {
    height: 25vw;
  }
  #web-development {
    height: 45vw;
  }
  #others {
    height: 30vw;
  }
  #projects {
    top: 180vw;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1400px) {
  #header #abstract {
    font-size: 2.5rem;
    top: 60%;
  }
  main {
    width: 60%;
  }
  #projects {
    top: 240vw;
  }
  .card {
    left: 20%;
  }
  .headlines {
    font-size: 30px;
  }
  #programming-languages,
  #intro {
    height: 35vw;
  }
  #web-development {
    height: 65vw;
  }
  #others {
    height: 40vw;
  }
  #skills h1 {
    left: 37%;
  }
}
@media screen and (min-width: 850px) and (max-width: 1000px) {
  #header #abstract {
    font-size: 2.5rem;
    top: 60%;
  }
  main {
    width: 60%;
  }
  .headlines {
    font-size: 30px;
  }
  #programming-languages,
  #intro {
    height: 45vw;
  }
  #web-development {
    height: 75vw;
  }
  #others {
    height: 50vw;
  }
  #skills h1 {
    left: 35%;
  }
  #projects {
    top: 310vw;
  }
}
@media screen and (min-width: 700px) and (max-width: 850px) {
  #header #abstract {
    font-size: 2rem;
    top: 60%;
  }
  main {
    left: 5%;
    width: 70%;
  }
  .headlines {
    font-size: 30px;
  }
  #programming-languages,
  #intro {
    height: 55vw;
  }
  #web-development {
    height: 85vw;
  }
  #others {
    height: 60vw;
  }
  #skills h1 {
    left: 35%;
  }
  #projects {
    top: 420vw;
    right: 5%;
  }
}
@media screen and (min-width: 580px) and (max-width: 700px) {
  #projects {
    top: 470vw;
    right: 7%;
  }
}
@media screen and (min-width: 450px) and (max-width: 580px) {
  #projects {
    top: 505vw;
    right: 7%;
  }
}
@media screen and (min-width: 450px) and (max-width: 700px) {
  #header #abstract {
    font-size: 2rem;
    top: 50%;
  }
  main {
    left: 5%;
    width: 60%;
  }
  #nav {
    display: none;
  }
  #skills {
    font-size: 8px;
  }
  .languages .language {
    margin: 2px;
    transform: translate(0, 35%);
  }
  .languages .value {
    margin: 7px;
    margin-right: 15px;
    padding: 3px;
  }
  .headlines {
    font-size: 20px;
  }
  #programming-languages,
  #intro {
    height: 65vw;
  }
  #web-development {
    height: 135vw;
  }
  #others {
    height: 80vw;
  }
  #skills h1 {
    left: 35%;
  }
}
@media screen and (min-width: 350px) and (max-width: 450px) {
  #projects {
    top: 820vw;
    right: 5%;
  }
  #projects h1 {
    left: 20%;
    top: 30%;
  }
  .card {
    width: 300px;
  }
}
@media screen and (min-width: 50px) and (max-width: 350px) {
  #projects {
    top: 840vw;
    right: 5%;
  }
  #projects h1 {
    left: 20%;
    top: 30%;
  }
  .card {
    width: 280px;
  }
}
@media screen and (min-width: 50px) and (max-width: 450px) {
  #header #abstract {
    font-size: 1.3rem;
    top: 50%;
  }
  main {
    left: 0;
    width: 80%;
  }
  #nav {
    display: none;
  }
  #skills {
    font-size: 8px;
  }

  .languages .language {
    margin: 2px;

    transform: translate(0, 35%);
  }
  .languages .value {
    padding: 3px;
    margin: 7px;
    margin-right: 15px;
  }
  .headlines {
    font-size: 20px;
  }
  #programming-languages,
  #intro {
    height: 95vw;
  }
  #web-development {
    height: 220vw;
  }
  #others {
    height: 120vw;
  }
  #skills h1 {
    left: 35%;
  }
}
